.product-img{
    width: 100%;
    border-radius: 10px;
    height: 350px;
}

.review_container{
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    padding: 1rem;
}

.review_container p{
    margin: 0;
}